footer.footer
  .inner
    .footer__list
      .footer__left 
        .footer__logo
          a(href='/') MoGo
        .footer__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .footer__followers 
          span 15k 
          | followers
        .footer__social 
          .footer__social-title Follow Us:
          .footer__social-list 
            a(href="/") 
              +icon("icon_fb")
            a(href="/") 
              +icon("icon_twitter")
            a(href="/") 
              +icon("icon_im")
            a(href="/") 
              +icon("icon_pinterest")
        form.footer__email(action="") 
          input(type="email", placeholder="Your Email...")
          button Subscribe
      .footer__center 
        .footer__title blogs
        .footer__blogs-list 
          .footer__blogs-item 
            .footer__blogs-img 
              img(src="img/img24.png", alt="img24")
            .footer__blogs-text
              .footer__blogs-descr Lorem ipsum dolor sit amet, consectetur adipiscing
              .footer__blogs-date Jan 9, 2016
          .footer__blogs-item 
            .footer__blogs-img 
              img(src="img/img25.png", alt="img24")
            .footer__blogs-text
              .footer__blogs-descr Lorem ipsum dolor sit amet, consectetur adipiscing
              .footer__blogs-date Jan 9, 2016
          .footer__blogs-item 
            .footer__blogs-img 
              img(src="img/img26.png", alt="img24")
            .footer__blogs-text
              .footer__blogs-descr Lorem ipsum dolor sit amet, consectetur adipiscing
              .footer__blogs-date Jan 9, 2016
      .footer__right
        .footer__title instagram
        .footer__ig-list 
          .footer__ig-img 
            img(src="img/img27.png", alt="")
          .footer__ig-img 
            img(src="img/img35.png", alt="")
          .footer__ig-img 
            img(src="img/img28.png", alt="")
          .footer__ig-img 
            img(src="img/img29.png", alt="")
          .footer__ig-img 
            img(src="img/img30.png", alt="")
          .footer__ig-img 
            img(src="img/img31.png", alt="")
          .footer__ig-img 
            img(src="img/img32.png", alt="")
          .footer__ig-img 
            img(src="img/img33.png", alt="")
          .footer__ig-img 
            img(src="img/img34.png", alt="")
        .footer__ig-descr View more photos
    .footer__copyright © 2016 MoGo free PSD template by  
      a(href="") Laaqiq