@keyframes line {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes line_progress {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

body {
  .wrapper {
    main {
      .main-page {
        .top-slider {
          display: flex;
          justify-content: center;
          width: 100%;
          height: auto;
          margin-top: -92px;
          margin-bottom: 91px;
          padding-top: 229px;
          background: url('../img/img1.png') no-repeat center/cover;
          color: $white;
          &__list {
            width: 80%;
            margin: 0 auto;
            margin-bottom: 157px;
          }
          &__descr {
            margin-bottom: 42px;
            font: 400 72px/1.2 $KaushanScript;
            text-align: center;
          }
          &__title {
            position: relative;
            margin-bottom: 50px;
            padding-bottom: 71px;
            font: 700 150px/140px $Montserrat;
            text-transform: uppercase;
            text-align: center;
            &::before {
              position: absolute;
              content: '';
              bottom: 0;
              left: 50%;
              width: 60px;
              height: 3px;
              background: $white;
              transform: translateX(-50%);
            }
          }
          &__button {
            text-align: center;
            a {
              display: inline-block;
              padding: 15px 33px;
              font: 700 14px/1.2 $Montserrat;
              text-transform: uppercase;
              border: 3px solid $white;
              color: $white;
              &:hover {
                color: $mint;
                background: $white;
              }
            }
          }
        }
        .seconds {
          display: flex;
          justify-content: space-between;
          margin-bottom: 28px;
          &__item {
            width: calc((96% - 30px) / 4);
            &:nth-child(1) {
              .seconds__line_progress_active {
                animation-name: line_progress;
                animation-duration: 3s;
                animation-fill-mode: forwards;
              }
            }
            &:nth-child(2) {
              .seconds__line_progress_active {
                animation-name: line_progress;
                animation-duration: 3s;
                animation-delay: 3s;
                animation-fill-mode: forwards;
              }
            }
            &:nth-child(3) {
              .seconds__line_progress_active {
                animation-name: line_progress;
                animation-duration: 3s;
                animation-delay: 6s;
                animation-fill-mode: forwards;
              }
            }
            &:nth-child(4) {
              .seconds__line_progress_active {
                animation-name: line_progress;
                animation-duration: 3s;
                animation-delay: 9s;
                animation-fill-mode: forwards;
              }
            }
          }
          &__line {
            width: 100%;
            height: 3px;
            margin-bottom: 25px;
            background: $white;
            animation-name: line;
            animation-duration: 3s;
            &_progress {
              width: 0;
              height: 3px;
              background: $red;
              &_active {
                width: 0;
              }
            }
          }
          &__name {
            color: $white;
            font: 400 18px/1.2 $Montserrat;
            text-transform: uppercase;
            span {
              margin-right: 5px;
              font: 700 24px/1.2 $Montserrat;
            }
          }
        }
        .story {
          &__list {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
          }
          &__item {
            position: relative;
            width: calc((97% - 30px) / 3);
            &::after {
              position: absolute;
              content: '';
              top: 0;
              left: 0;
              z-index: -1;
              width: 100%;
              height: 100%;
              background: $mint;
            }
            a {
              position: relative;
              &:hover {
                transform: translateY(-10px) translateX(-10px);
                &::before {
                  opacity: 1;
                  visibility: visible;
                }
                .story__inf {
                  opacity: 1;
                  visibility: visible;
                  transition: 0.3s;
                }
              }
              &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(0, rgba(252, 227, 138, 0.89) 0, rgba(243, 129, 129, 0.89) 100%);
                opacity: 0;
                visibility: hidden;
                transition: 0.3s;
              }
            }
          }
          &__inf {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
            transform: translateX(-50%) translateY(-50%);
          }
          &__icon {
            display: flex;
            justify-content: center;
            margin-bottom: 10px;
            img {
              width: 32px;
              height: 23px;
            }
          }
          &__descr {
            font: 700 18px/1.2 $Montserrat;
            color: $white;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}
