$KaushanScript: 'KaushanScript', 'Arial', sans-serif;
$Montserrat: 'Montserrat', 'Arial', sans-serif;
$Roboto: 'Roboto', 'Arial', sans-serif;

$white: #fff;
$grey: #999;
$black: #333;
$mint: #95e1d3;
$red: #f38181;
$yellow: #fce38a;

$mediaWidthDesktop: 1580px;
$mediaWidthLaptop: 1366px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthTablet: 768px;
$mediaWidthMobile: 320px;
